name: Release sxhkd1
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'tag to release'
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ inputs.tag || github.ref }}
    - name: Install dependencies
      run: |
        pacman -Syu --noconfirm base-devel libxcb xcb-util xcb-util-keysyms
    - name: Build
      run: make
    - name: Strip binaries
      run: strip sxhkd
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ inputs.tag || github.ref_name }}
        files: sxhkd
